<nav class="main-nav-outer" id="test">
    <div class="container">
        <ul class="main-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Directorio Pag. Amarillas</a></li>
            <!--<li><a href="#">Clasificados</a></li>-->
            <li class="small-logo"><a href="#header"><img src="/images/small-logo.png" alt=""></a></li>
            <li><a href="#">Clasificados</a></li>
            <li><a href="#">Quienes Somos?</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav>
