<!--Navigation & Intro-->
<header>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a style="font-size: 25px" class="navbar-brand" href="/admin/projects">Administrador Ruta Dorada</a>
            </div>
        </div>
    </nav>

</header>
<!--/Navigation & Intro-->