<section class="main-section paddind" id="Portfolio"><!--main-section-start-->
    <div class="container">
        <h2>Destinos</h2>
        <div class="portfolioFilter">
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="#" data-filter="*" class="current" >All</a></li>
                <li><a href="#" data-filter=".honda" >Honda</a></li>
                <li><a href="#" data-filter=".la-dorada" >La Dorada</a></li>
                <li><a href="#" data-filter=".norcasia" >Norcasia</a></li>
                <li><a href="#" data-filter=".mariquita" >Mariquita</a></li>
                <li><a href="#" data-filter=".pto-salgar" >Pto Salgar</a></li>
                <li><a href="#" data-filter=".pto-triunfo" >Pto Triunfo</a></li>
                <li><a href="#" data-filter=".victoria" >Victoria</a></li>
                <li><a href="#" data-filter=".guaduas" >Guaduas</a></li>
                <li><a href="#" data-filter=".villeta" >Villeta</a></li>
                <li><a href="#" data-filter=".pto-boyaca" >Pto Boyaca</a></li>
            </ul>
        </div>

    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        <div class=" Portfolio-box honda">
            <a href="honda.html"><img src="http://mw2.google.com/mw-panoramio/photos/medium/51884401.jpg" alt=""></a>
            <h3>Honda</h3>
            <!--<p>Print Design</p>-->
        </div>
        <div class="Portfolio-box la-dorada">
            <a href="la-dorada.html"><img src="http://www.eje21.com.co/site/wp-content/uploads/2015/07/La-dorada-iglesia-del-parque-las-iguanas.jpg" alt=""></a>
            <h3>La Dorada</h3>
            <!--<p>Web Design</p>-->
        </div>
        <div class=" Portfolio-box norcasia">
            <a href="norcasia.html"><img src="http://static.panoramio.com/photos/medium/66125159.jpg" alt=""></a>
            <h3>Norcasia</h3>
            <!--<p>Branding</p>-->
        </div>
        <div class=" Portfolio-box mariquita" >
            <a href="mariquita.html"><img src="https://media-cdn.tripadvisor.com/media/photo-s/03/3a/1b/81/mariquita.jpg" alt=""></a>
            <h3>Mariquita</h3>
            <!--<p>Photography</p>-->
        </div>
        <div class=" Portfolio-box pto-salgar">
            <a href="pto-salgar.html"><img src="http://static.panoramio.com/photos/original/5346325.jpg" alt=""></a>
            <h3>Pto Salgar</h3>
            <!--<p>Branding</p>-->
        </div>
        <div class=" Portfolio-box pto-triunfo">
            <a href="pto-triunfo.html"><img src="https://agendasciudadanas.files.wordpress.com/2011/09/puerto-triunfo-antioquia.jpg" alt=""></a>
            <h3>Pto Triunfo</h3>
            <!--<p>Photography</p>-->
        </div>
        <div class=" Portfolio-box victoria">
            <a href="victoria.html"><img src="https://agendasciudadanas.files.wordpress.com/2011/09/victoria-caldas.jpg" alt=""></a>
            <h3>Victoria</h3>
            <!--<p>Branding</p>-->
        </div>
        <div class=" Portfolio-box guaduas">
            <a href="guaduas.html"><img src="https://userscontent2.emaze.com/images/899fb00a-ff96-4e52-937d-6c8791ab327c/8b6a4f34d1a34940865b46cfe139c748.jpg" alt=""></a>
            <h3>Guaduas</h3>
            <!--<p>Photography</p>-->
        </div>
        <div class=" Portfolio-box pto-boyaca">
            <a href="pto-boyaca.html"><img src="http://static.panoramio.com/photos/original/64052508.jpg" alt=""></a>
            <h3>Pto Boyaca</h3>
            <!--<p>Branding</p>-->
        </div>
        <div class=" Portfolio-box villeta">
            <a href="villeta.html"><img src="https://encolombia.com/wp-content/uploads/2012/12/Villeta-Cundinamarca.jpeg" alt=""></a>
            <h3>Villeta</h3>
            <!--<p>Branding</p>-->
        </div>

    </div>
</section><!--main-section-end-->

